@import '../Variables/Variables.scss';

.homepage {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    padding-top: 3rem;

    .homepage__image {
        background: url('/src/Images/holding-beer-large.jpg') center center;
        background-size: cover;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
    }

    .homepage__title {
        color: $whiteColor;
    }
}