@import "../Variables/Variables.scss";

.background {
  background: $lighter-tan;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .menu__icon {
    font-size: $icon;
    padding-right: 2rem;
    padding-top: 1rem;
  }

  .menu__icon--color {
    color: white;
  }

  .menu {
    margin-right: 2rem;
    margin-top: 1rem;
  }

  .menu__a-tag {
    text-decoration: none;
    color: black;

    .menu__link {
      padding-bottom: 1rem;
      font-size: $medium-font;
      font-family: $mont-font;
    }

    .menu__link:hover {
      color: $tan;
    }
  }
}

// Media Querys
@media screen and (min-width: 1024px) {
  .background {
    background-color: inherit;
    transform: translateX(0) !important;
    position: static;
    top: auto;
    left: auto;
    width: auto;
    display: inline-block;

    .menu__icon {
      display: none;
    }

    .menu {
      display: flex;
      margin-right: 0;

      .menu__link {
        color: $light-white;
      }

      .home {
        padding-right: 2rem;
      }
    }
  }
}
