@import '../Variables/Variables.scss';

.band {
    height: 100vh;
    width: 90vw;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;

    .band__info {
        margin-bottom: 3rem;

        .band__info__title {
            font-size: $xxxlarge-font;
            color: $tan;
            margin-bottom: 0;
        }

        .band__info__description {
            font-size: $xsmall-font;
            color: white;
            line-height: 2.2rem;
        }
    }


    .band__image {
        background: url('/src/Images/concert.jpg');
        background-size: cover;
        height: 65%;
        width: 100%;
        border-radius: 1rem;
    }
}