// Font Sizes
$xsmall-font: 1.4rem;
$small-font: 1.6rem;
$small-med-font: 1.8rem;
$medium-font: 2rem;
$large-font: 2.2rem;
$xlarge-font: 2.4rem;
$xxlarge-font: 2.6rem;
$xxxlarge-font: 2.8rem;
$xxxxlarge-font: 3rem;
$largest-font: 3.4rem;
$secondLargest-font: 4rem;

// Icon Size
$icon: 3rem;

// Colors
$whiteColor: #fff;
$dark-color: rgb(25, 25, 25);
$light-grey: #868684;
$light-tan: #BEC2AB;
$lighter-grey: #84898D;
$light-white: #F9FAFA;
$tan: #D2B48C;
$lighter-tan: #d2b48ce5;
$light-brown: #7c6c5eeb;
$light-red: #A34358;

// Border Radius
$border-radius: 1rem;

// Fonts
$dosis-font: 'Dosis', sans-serif;
$mont-font: 'Montserrat', sans-serif;
$jose-font: 'Josefin Sans', sans-serif;