$s-font: 1.6rem;
$m-font: 2rem;
$lg-font: 2.2rem;

$icon: 3rem;

$whiteColor: #fff;

// color pallets

$dark-color: #38383B;
$light-grey: #868684;
$light-tan: #BEC2AB;
$lighter-grey: #84898D;
$light-white: #F9FAFA;