.back-home {
    margin: 1rem 0rem 0rem 1rem;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: auto;

    .contact__grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;
        width: 80%;

        .contact__form {
            display: flex;
            flex-direction: column;
    
            .contact__input {
                padding: 1rem;
                margin: 0.6rem;
            }
    
            .contact__submit {
                width: 30vw;
                margin: auto;
                padding: 0.6rem;
                border-radius: 1rem;
                border: none;
                box-shadow: 0rem 0rem 0.2rem 0rem; 
            }
        }
    }

    .contact__footer {
        display: flex;
        justify-content: center;
        
        .contact__footer__address, .contact__footer__phone {
            padding: 0rem 1.5rem 0rem 0rem;
        }
    }
}

// Media Querys
@media screen and (min-width: 1024px) {
    .contact {
        height: 100vh;
        justify-content: center;

        .contact__grid {
            flex-direction: row;
            align-items: center;
            height: 80vh;

            .contact__form {

                .contact__submit {
                    margin: 0;
                    margin-top: 1rem;
                }
            }
        }

        .contact__footer {
            flex-direction: column;
            
            .contact__footer__address {
                padding-bottom: 4rem
            }

            .contact__footer__phone {
                padding-bottom: 29rem;
            }

            .contact__footer__address, .contact__footer__phone {
                font-size: 1.2rem
            }
        }
    }
}