@import '../Variables/Variables.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin-top: 1rem;

    .navbar__beer-logo, .navbar__menu-logo {
        font-size: $icon;
    }

    .hidden {
        display: none;
    }
}

// Media Querys

@media screen and (min-width: 1024px) {
    .navbar__menu-logo {
        display: none;
    }
}