@import '../Variables/Variables.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem 0rem 2rem;
    background: rgb(25 25 25 / 87%);
    position: fixed;

    .navbar__beer-logo, .navbar__menu-logo {
        font-size: $icon;
    }

    .hidden {
        display: none;
    }
}

// Media Querys

@media screen and (min-width: 1024px) {
    .navbar__menu-logo {
        display: none;
    }
}