@import '../Variables/Variables.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin-top: 1rem;

    .navbar__logo {
        font-size: $icon;
    }
}