@import '../Variables/Variables.scss';

.business {
    height: 100vh;
    width: 90vw;
    justify-content: center;
    flex-direction: column;
    padding-top: 3rem;
    display: flex;
    align-items: center;

    .business__info {
        margin-bottom: 3rem;

        .business__info__title {
            font-size: $xxxlarge-font;
            color: $tan;
            margin-bottom: 0;
        }

        .business__info__description {
            font-size: $xsmall-font;
            color: white;
            line-height: 2.2rem;
        }
    }


    .business__image {
        background: url('/src/Images/inside-brewery.jpg') center;
        background-size: cover;
        height: 65%;
        width: 100%;
        border-radius: 1rem;
    }
}

// Media Querys 
@media screen and (min-width: 768px) {
    .business {
        flex-direction: row;

        .business__info {
            margin: 0rem 0rem 0rem 2rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .business {

        .business__image {
            width: 50vw;
        }
    }
}