@import './Components/Variables/Variables.scss';

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $dark-color;
}